# Python bytecode & environments
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/
.pytest_cache/

# C++ Build Artifacts
build/
bin/
lib/
*.so
*.dll
*.dylib
*.out
.cmake/
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake

# Local Target Databases
*.json
database/*.json
logs/
*.log

# IDE Specific
.vscode/
.idea/
.DS_Store
